<div class="footer">
    <div class="navbar-item">
        <img src="../../assets/images/sports.png"/>
        <p>{{'Sports' | translate }}</p>
    </div>

    <div class="navbar-item">
        <img src="../../assets/images/live-sports.png"/>
        <p>{{'LiveSports' | translate }}</p>
    </div>

    <div class="navbar-item">
        <img src="../../assets/images/slots.png"/>
        <p>{{'Slots' | translate }}</p>
    </div>

    <div class="navbar-item">
        <img src="../../assets/images/casino.png"/>
        <p>{{'Casino' | translate }}</p>
    </div>

    <div class="navbar-item">
        <img src="../../assets/images/more.png"/>
        <p>{{'More' | translate }}</p>
    </div>
</div>