<div>
    <app-expander
        title="{{'Languages' | translate}}"
        [isExpanded]="langExpanded"
        [itemsSource]="langs"
        [selectedItem]="selectedLang"
        [uppercaseEnabled]="true"
        (selectedItemChanged)="onLangChanged($event);"
        (expandedChanged)="expLang($event)"/>

    <app-expander
        title="{{'Layout' | translate}}"
        [isExpanded]="layoutExpanded"
        [itemsSource]="layouts"
        [selectedItem]="selectedLayout"
        (expandedChanged)="expLayout($event)"/>

    <app-expander
        title="{{'Odds' | translate}}"
        [isExpanded]="oddExpanded"
        [itemsSource]="odds"
        [selectedItem]="selectedodd"
        (expandedChanged)="expOdd($event)"/>

    <app-expander
        title="{{'Theme' | translate}}"
        [isExpanded]="themeExpanded"
        [itemsSource]="themes"
        [selectedItem]="selectedTheme"
        (selectedItemChanged)="onThemeChanged($event);"
        (expandedChanged)="expTheme($event)"/>
</div>